<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
</head>

<body>
    <form method="post" action="/chats">
        <h3>Write new chat</h3>
        <input type="text" name="from" placeholder="Who are you?"><br><br>
        <textarea name="msg" placeholder="write your message here"></textarea><br><br>
        <input type="text" placeholder="add reciever" name="to"><br><br>
        <button>Create chat</button>
    </form>
</body>

</html>